.do-label,
.do-node {
  padding: 3px;
  border: 2px solid #a98;
}

.do-text {
  padding: 0;
}

.do-label,
.do-node,
.do-text,
.do-head-opened,
.do-head-closed {
  font-size: 12px;
}

.do-label {
  color: black;
  background-color: #cba;
  font-weight: bold;
}

.do-value-string {
  color: #804;
}

.do-value-null,
.do-value-undefined,
.do-value-number,
.do-value-boolean,
.do-value-printable-object {
  color: blue;
}

.do-value-array,
.do-value-object {
  border-top: 2px solid #a98;
  border-collapse: collapse;
}

.do-head-opened,
.do-head-closed {
  padding: 0 0 0 15px;
  margin: 1px 0 2px 0;
  text-decoration: underline;
  cursor: pointer;
}

.do-head-opened {
  background: url("data:image/gif;base64,R0lGODdhCwALAKECAAAAAISEhP///////ywAAAAACwALAAACFYyMp8Lt5l6ccC6AM2CVWvl1VkIeBQA7") left center no-repeat; // do_minus.gif
}
.do-head-closed {
  background: url("data:image/gif;base64,R0lGODdhCwALAKECAAAAAISEhP///////ywAAAAACwALAAACGYyMp8Lt1sBzQs54gd4WMst4HyWCCzUlagEAOw==") left center no-repeat; // do_plus.gif
}

.do-body-opened {
  display: block;
}
.do-body-closed {
  display: none;
}
